:root {
    /* Light Mode Variables */
    --background-color: #e4e5f1;
    --text-color: #000000; /* Light mode text color */
    --tile-background-color: #d2d3db;
    --tile-border-color: #cccccc;
    --button-background-color: #484B6A;
    --button-hover-color: #565a80;
    --debug-background-color: #d83c49;
    --debug-text-color: #721c24;
    --chart-line-color-1: #007bff;
    --chart-fill-color-1: rgba(0, 123, 255, 0.2);
    --chart-line-color-2: #dc3545;
    --chart-fill-color-2: rgba(220, 53, 69, 0.2);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color); /* Background color */
    color: var(--text-color); /* Text color */
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr) 1fr;
    gap: 10px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.tile {
    background-color: var(--tile-background-color); /* Tile background color */
    border: 2px solid var(--tile-border-color); /* Tile border color */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color); /* Text color inside tiles */
}

#history {
    grid-row: span 3;
    grid-column: 1 / 2;
    overflow-y: auto; /* Scrollbar for history section */
}

#lapButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#lapButtonsContainer button {
    width: 100%;
    text-align: left;
    margin: 0;
}

#debug {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    background-color: var(--debug-background-color); /* Debug background color */
    border-color: var(--debug-text-color); /* Debug border color */
    color: var(--debug-text-color); /* Debug text color */
    overflow-y: auto; /* Scrollbar for debug section */
}

#liveDashboard {
    grid-row: span 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chart-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    color: var(--text-color); /* Text color within the chart container */
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

#liveData {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.live-data-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
}

.live-data-item {
    background-color: #f0f4ff;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.live-data-item i {
    font-size: 1.5em;
    color: var(--button-background-color);
}

.live-data-item span {
    display: block;
    font-size: 1.2em;
    margin-top: 5px;
    font-weight: bold;
    color: var(--text-color);
}

.live-data-item p {
    margin: 0;
    font-size: 0.9em;
    color: var(--text-color);
}

#controlPanel {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: var(--text-color);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#debugLog {
    flex-grow: 1;
    padding: 10px;
    background-color: #d2d3db;
    border-radius: 5px;
    color: var(--debug-text-color);
    overflow-y: auto; /* Scrollbar for debug log */
    max-height: 100%;
}

.debug-alert {
    color: #721c24;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    background-color: var(--button-background-color); /* Button background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--button-hover-color); /* Button hover color */
}

#spoofData {
    margin-top: 10px;
    cursor: pointer;
}
